/* 
    Custom CSS goes here
*/

body {
    background-image: url('../Assets/images/bg-img.jpg');
}

.footer {
    position: fixed;
    left: 0;
    bottom: 100%;
    width: 100%;
    background: transparent;
    color: snow;
    text-align: center;
}
#ContactForm {
    color:snow;
}

tr:nth-child(even) {
    background-color: #2C3E4C;
    color: snow;
}

tr:nth-child(odd) {

                  background-color: #59788E;
                  color: snow;
}

table {
    padding-top: 25px;
}

#AddProject {
    color: ghostwhite;
}

h1, label {

    color: snow;
}

h5,h4, h6 {
    color: snow;
    font-weight: normal;    
}

.loginLabel {

    color: snow;
    text-align: center;
    text-decoration: snow;
}

.control-label {
    color: snow;
}
.secondCard {
    
    margin-left: 120px;
}
.centered_div {
    margin: 0 auto;
    width: 50%;
}
.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination-ys table > tbody > tr > td {
    display: inline;
}

.pagination-ys table > tbody > tr > td > a,
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #dd4814;
    background-color: #f5f2f2;
    border: 1px solid #dddddd;
    margin-left: -1px;
}

.pagination-ys table > tbody > tr > td > a,
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    margin-left: -1px;
    z-index: 2;
    color: #aea79f;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.pagination-ys table > tbody > tr > td:first-child > a,
.pagination-ys table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination-ys table > tbody > tr > td:last-child > a,
.pagination-ys table > tbody > tr > td:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination-ys table > tbody > tr > td > a:hover,
.pagination-ys table > tbody > tr > td > span:hover,
.pagination-ys table > tbody > tr > td > a:focus,
.pagination-ys table > tbody > tr > td > span:focus {
    color: #97310e;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.card-header {
    background: cadetblue;
}

.card-body {
    background: #59788e;
}